header {
  display: flex;
  justify-content: space-between;
}

.signin-menu a {
  margin-left: 0.5em;
}

.red {
  color: red;
}

.quiz {
  border-style: solid;
  border-width: 2px 1ex 1ex 2px;
  border-color: blueviolet;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 1em 0;
}

.quiz .question {
  font-weight: bold;
}

.quiz .attribution {
  font-size: smaller;
  font-style: italic;
}

.quiz .answer button {
  border-style: solid;
  border-width: 1px 3px 3px 1px;
  border-color: darkcyan;
  background-color: lightblue;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 1ex 0;
}

.quiz .answer button.correct {
  border-color: darkseagreen;
  background-color: lightgreen;
}

.quiz .answer button.incorrect {
  border-color: salmon;
  background-color: lightpink;
}

#result.error {
  color: red;
}
#result.result {
  color: green;
}

.ex-swap {
  font-size: small;
  font-weight: normal;
}
